body {
    background-color: rgba(0, 0, 0, 0.936);
    font-family:monospace;
}


.nav img {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    list-style: none;
}

.nav {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 0px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
    border: 2px solid red;
}

.nav li {
    transition-duration: 0.3s;
}

.nav li:hover {
    transform: scale(1.2);
}



.principal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1vh;
}


.image1 {
    width: 50vh;
    height: 50vh;
    padding: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.8s;
}

.image-container2 {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.8s;
}

.image-container3 {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.8s;
}

.image2 {
    width: 90vh;
    height: 40vh;
    padding: 30px;
}

.image3 {
    width: 50vh;
    padding: 30px;
    
}

.box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cuadro img {
    position: static;
    width: 400px;
    height: 400px;
}
#cuadro1, #cuadro2 {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: left;
    background-color: black;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s;
}

#cuadro3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: black;
    padding: 20px;
    width: 100%;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s;
}

.box-2 img {
    filter: brightness(50%);
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
}



.image-container:hover {
    transform: scale(1.04)
}

.image-container2:hover {
    transform: scale(1.04)
}

.image-container3:hover {
    transform: scale(1.04);
}

.pc-title {
    color: white;
    text-align: center;
}

.description {
    list-style:circle;
    display: flex;
    flex-direction: column;
    display: flex;
    text-align: justify;
    color: white;
    margin-right: 50px;
}

.ilti-pc-descrption {

    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description2 {
    color: white;
    font-size: 20px;
}

.pc-title2 {
    color: white;
    width: 30%;
    font-size: 17px;
    display: flex;
    align-items: center;

    margin-left: 0px;
}

.box-2 {
    display: flex;
    justify-content: space-between;
}

.cuadro2 {
    gap: 0px;
    justify-content: space-between;
}

#cuadro2:hover {
    border-color: red;
}

#cuadro1:hover {
    border-color: red;
}

#cuadro3:hover {
    border-color: red;
}

.componentes {
    font-size: 50px;
    list-style: none;
}







