body {
    background-color: rgba(0, 0, 0, 0.936);
}


.nav img {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    list-style: none;

}

.nav {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    top: 0px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
    border: 2px solid red;
}

.principal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10vh;
}


.image1 {
    width: 50vh;
    height: 50vh;
    padding: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    margin: 25px;
    transition-duration: 0.8s;
}

.image-container2 {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    margin: 25px;
    transition-duration: 0.8s;
}

.image-container3 {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    margin: 25px;
    transition: 0.8s;
}

.image2 {
    width: 90vh;
    height: 40vh;
    padding: 30px;
}

.image3 {
    width: 50vh;
    padding: 30px;
    
}

.box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cuadro img {
    position: static;
    width: 400px;
    height: 400px;
}
#cuadro1, #cuadro2 {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: left;
    background-color: black;
    border-radius: 20px;
}

#cuadro3 {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

.box-2 img {
    filter: brightness(50%);
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
}



.image-container:hover {
    transform: scale(1.04)
}

.image-container2:hover {
    transform: scale(1.04)
}

.image-container3:hover {
    transform: scale(1.04);
}

.pc-title {
    color: white;
    text-align: center;
}

.description {
    list-style:circle;
    display: flex;
    flex-direction: column;
    display: flex;
    text-align: justify;
    color: white;
    margin-right: 50px;
}

.ilti-pc-descrption {

    color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.description2 {
    color: white;
}

.pc-title2 {
    color: white;
}

.box-2 {
    display: flex;
    justify-content: space-between;
}

.cuadro2 {
    gap: 0px;
    justify-content: space-between;
}








