.principal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.image1 {
    width: 50vh;
    height: 50vh;
    padding: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
}

.image-container2 {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
}

.image-container3 {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
}

.image2 {
    width: 90vh;
    height: 40vh;
    padding: 30px;
}

.image3 {
    width: 50vh;
    padding: 30px;
    
}
