body {
    background-image: url(https://images.unsplash.com/photo-1626218174358-7769486c4b79?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FtaW5nJTIwcGN8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;

}


.main {
    position: relative;
    top: 200px;
    left: 200px;
    font-size: 40px;
    line-height: 45px;
    color: white;
}

.nav img {
    display: inline-block;
    position: sticky;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    list-style: none;

}

.nav {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    border-color: red;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
}

.nav li {
    transition-duration: 0.3s;
}

.nav li:hover {
    transform: scale(1.2);
}

.button {
    text-decoration: none;
    padding: 20px 20px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 50px;
}

.button {
    display: flex;
    position: absolute;
    margin-left: 1200px;
    margin-top: 300px;
    transition-duration: 2s;
}

.button:hover {
    transform: scale(1.2);
}



@keyframes color-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(300deg);
    }
}

.button a {
    text-decoration: none;
    animation: color-rotate
    4s;
    animation-iteration-count: infinite;
    filter: brightness(200%);
}


