
.main {
    position: relative;
    top: 200px;
    left: 200px;
    font-size: 40px;
    line-height: 20px;
}

.nav li {
    position: relative;
   display: inline-block;
   justify-content: space-between;
   text-align: center;
}

.nav ul {
    text-align: center;
    top: 0px;
}